body {
    background-color: palevioletred;
}

#app {
    width: 50%;
    margin-left: 25%;
}

#settings {
    border: 5px solid navy;
    color: whitesmoke;
    padding: 5px;
    padding-bottom: 10%;
    margin-bottom: 5px;
    text-align: center;
}

#calculator {
    border: 5px solid navy;
    color: whitesmoke;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#HSButton {
    margin-bottom: 5px;
    border: 5px;
    border-color: navy;
}

#color {
    margin-left: 5%;
    margin-right: 5%;
    width: fit-content;
}

.darkgrey {
    background-color: darkgray;
}

.palevioletred{
    background-color: palevioletred;
}

#font {
    width: fit-content;
    margin: 3px;
    width: fit-content;
}

.fontsize16 {
    font-size: 16px;
}

.fontsize12 {
    font-size: 12px;
}

#addition {
    margin: 2px;
}

#subtraction {
    margin: 2px;
}

#multiplication {
    margin: 2px;
}

#division {
    margin: 2px;
}

#number1 {
    margin: 10px;
    width: 20%;
}

#number2 {
    margin: 10px;
    width: 20%;
}

#results {
    margin-right: 5%;
}

#clearbutton {
    margin-bottom: 5%;
}